<nav class="navbar navbar-expand-lg navbar-light main_box header-sticky fixed-top">
    <div class="container">
        <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <h2>b<span class="oospan">oo</span>ker</h2>
      </a>
        </div>
    <div>
        <ul class="nav navbar-nav navbar-right ">
          <li>
            <a class="icons" routerLink="home">Home</a>
          </li>
          <li>
            <a class="icons" href="#" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" >PAGES</a>
          </li>
          <li>
            <a  class="icons" href="#aboutus">About</a>
          </li>
          <li>
            <a class="icons"  href="#contact">Contact</a>
          </li>
          <li>
            <a class="icons" routerLink="shop">Shop</a>
          </li>
          <li>
            <a class="icons" routerLink="login">Sign In</a>
          </li>
          <li>
            <a class="icons" routerLink="register">Sign Up</a>
          </li>
        </ul>
      
    </div>
    </div>
  </nav>